.calendar-description { 
    font-size: 1.3em;
    padding-right: 20px;
    padding-left: 5px;
    text-align: justify;
    line-height: 1.5;
    margin-bottom: 50px;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
    text-align: center; 
}

.generate-button {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 150px; 
    font-size: large;
}

.compute-button {
    padding: 15px 30px; 
    font-size: 20px; 
    font-weight: bold;
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(250, 203, 83) 100.2%);
    color: #121212; 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(228, 197, 18, 0.45);
    cursor: pointer; 
    transition: all 0.3s ease; 
    border: 1px solid rgba(228, 197, 18, 0.80);
}

.compute-button:hover {
    box-shadow: 0 4px 20px rgba(228, 197, 18, 0.65);
    background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%,  rgb(250, 203, 83) 100.2%);
}